@import "@common/styles/_basecolors.module.scss";

.topBar {
  display: flex;
  padding: 0 32px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: color(baseWhite);
  border-bottom: 1px solid color(gray200);
  gap: 12px;
}

.title {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 12px;

  > svg {
    width: 90px;
    height: 90px;

  }
}