@import "src/common/styles/_typography.module.scss";

$_display-font-sizes: get-comp-map(map-get($typography-properties, "sizes"), "display", "fontSize");
$_display-font-line-heights: get-comp-map(map-get($typography-properties, "sizes"), "display", "lineHeight");


@each $name, $value in $_display-font-line-heights {
  .#{$name}.#{$name} {
    line-height: $value;
  }
}

@each $name, $font-size in $_display-font-sizes {
  .#{$name}.#{$name} {
    font-size: $font-size;
  }
}

.font.font {
  font-family: $font-display;
}
